---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Hsiaolin Hsieh :: About Me";
const description = "Short biography of Hsiaolin Hsieh.";
---

<BaseLayout title={title} description={description}>
  <article>
    <h1>About Me</h1>
    <p>
      I was born and grew up in Xinzhu, Taiwan. I finished my mandatory
      education there and then left for university in Taipei, where I spent
      several years as a student, a freelance journalist, a writer, a
      translator, and a research assistant at Academia Sinica.
    </p>

    <p>
      I received my B.A. in Journalism from National Chengchi University, my
      first M.A. in English and American Literature from National Central
      University, and my second M.A. in Learning, Design, and Technology from
      Stanford Graduate School of Education.
    </p>

    <p>
      When I was a little girl, I wanted to be an astronaut and search for alien
      creatures, but I soon found out that I suffered from severe motion
      sickness, so I turned to books in which aliens could be found instead. I
      love detective stories, science fiction, historical narratives, children’s
      literature, and Jane Austen! My love for books led me to the world of
      publishing in college, and I have developed skills in journalistic writing
      and editing as well as illustration, graphic design, and the visual arts,
      while also becoming involved with social movements and causes, including
      educational reform, social justice, and gender and minority rights issues.
    </p>

    <p>
      Education is now my professional focus. My experiences with social justice
      movements and work with minority groups have led me to the conclusion that
      constantly improving the standards of education is the only way to effect
      positive social change in the long term.
    </p>

    <p>
      I currently live in Palo Alto with my partner, our two children, and a
      leopard gecko named Diandian. I love crocheting, oil painting, and hiking
      in my leisure time.
    </p>
  </article>
</BaseLayout>
