---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Hsiaolin Hsieh :: Bio";
const description = "Short biography of Hsiaolin Hsieh.";
---

<BaseLayout title={title} description={description}>
  <article>
    <h1>About Hsiaolin</h1>
    <p>
      Hsiaolin was born and grew up in <a
        href="https://en.wikipedia.org/wiki/Hsinchu"
        target="_blank"
        title="Xinzhu">Xinzhu</a
      >, Taiwan. She finished her mandatory education there, and then left for
      university in <a
        href="https://eng.taiwan.net.tw/m1.aspx?sNo=0002090"
        target="_blank"
        title="Taipei">Taipei</a
      >, where she spent several years as a student, a free-lance journalist,
      writer, translator, and a research assistant at <a
        href="http://www.sinica.edu.tw/en"
        target="_blank"
        title="Academia Sinica">Academia Sinica</a
      >.
    </p>
    <p>
      She received her B.A. in Journalism from National Chengchi University, her
      first M.A. in English and American Literature from National Central
      University, and her second M.A. in Learning, Design, and Technology from
      Stanford University Graduate School of Education.
    </p>
    <p>
      When she was a little girl, Hsiaolin wanted to be an astronaut and search
      for <a
        href="https://www.imdb.com/title/tt0083866/"
        target="_blank"
        title="ET">alien creatures</a
      >, but she soon found out that she suffered from severe motion sickness,
      so she turned to books in which aliens could be found instead. She loves <a
        href="https://www.imdb.com/title/tt1988386/"
        target="_blank"
        title="Miss Fisher's Murder Mysteries">detective stories</a
      >, <a
        href="https://en.wikipedia.org/wiki/Do_Androids_Dream_of_Electric_Sheep%3F"
        target="_blank"
        title="Do Androids Dream of Electric_Sheep">science fiction</a
      >, <a
        href="https://yalebooks.yale.edu/book/9780300028843/1587-a-year-of-no-significance/"
        target="_blank"
        title="1587, A Year of No Significance">historical narratives</a
      >, <a
        href="https://www.gutenberg.org/files/902/902-h/902-h.htm"
        target="_blank"
        title="The Happy Prince">children’s literature</a
      >, and <a
        href="https://books.google.com/books?id=ILENAAAAQAAJ&pg=PP1#v=onepage&q&f=false"
        target="_blank"
        title="Pride and Prejudice">Jane Austen</a
      >! Her love for books led her to the world of publishing in college, and
      she’s developed skills in journalistic writing and editing as well as
      illustration, graphic design and the visual arts, while also becoming
      involved with social movements and causes, including educational reform, <a
        href="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.18172-8/258655_10151220434869234_561951620_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=2c4854&_nc_ohc=YiAdvrCjv7UAX-Wd6l8&_nc_oc=AQnEQiF-16EqoXKAlvs44BrRiCE5uP3v21iVLOVYEnfe4Q9xiN_-U8pVpMjRxnKicJo&_nc_ht=scontent-sjc3-1.xx&oh=00_AfByrWdZmcuCtRtmNrk-FtVE48iRLOb7h7cwV0N8f_xhvQ&oe=642BA5D2"
        target="_blank"
        title="Activism">social justice</a
      >, and gender and minority rights issues.
    </p>
    <p>
      Education is now Hsiaolin’s professional focus. Her experiences with
      social justice movements and work with minority groups have led her to the
      conclusion that constantly improving standards of education are the only
      way to effect positive social change in the long term.
    </p>
    <p>
      Hsiaolin is currently living in Palo Alto with her partner, their two
      children, and a leopard gecko named Diandian. She loves crocheting, oil
      painting, and hiking in her leisure time.
    </p>
  </article>
</BaseLayout>
