---
import HomeLayout from "@layouts/HomeLayout.astro";
---

<HomeLayout>
  <p>
    I am a doctoral candidate at the Stanford Graduate School of Education in
    the Developmental and Psychological Sciences program. My research agenda
    addresses how to facilitate equitable opportunities and access to learning
    for multilingual learners.
  </p>
  <p>
    My dissertation is centered on the assessment of student talk in classrooms.
    I use mixed-methods approaches, integrating qualitative practices (e.g.,
    interviews, think-alouds, manual coding, and classroom observations) and
    quantitative techniques (e.g., statistical modeling, natural language
    processing, and machine learning algorithms) to yield research findings and
    to present those findings using clear and creative graphical
    representations.
  </p>
  <p>
    Through research-practice partnerships, I have supported school districts in
    identifying the factors that limit English learners’ equitable access to
    mathematics courses. I am also interested in how educational technology can
    be leveraged to assist student learning.
  </p>
</HomeLayout>
