---
import HomeLayout from "@layouts/HomeLayout.astro";
---

<HomeLayout>
  <p>
    I am a <a href="https://scale.stanford.edu/people/hsiaolin-hsieh">postdoctoral researcher at the SCALE Initiative, Stanford Accelerator for Learning </a>. My
    research focuses on ensuring equitable opportunity and access to learning
    for multilingual learners. Specifically, I am using natural language
    processing and machine learning to analyze complex student dialogic
    participation in the classroom.
  </p>

  <p>
    Formally trained in educational measurement and assessment, I have extensive
    experience in the design, implementation, and evaluation of tests in the
    K-12 context. My involvement in experimental research supporting upper
    elementary students’ literacy has equipped me with the knowledge and skills
    for large-scale data collection and advanced quantitative methods. My background in educational
    technology allows me to examine and leverage alternative tools to assist
    student learning. Through long-term research-practice partnerships, I have
    supported school districts in identifying and removing barriers that limit
    multilingual learners’ equitable access to mathematics and English courses.
  </p>

  <p>
    I am a mixed-methods researcher, using both qualitative approaches
    (interviews, think-aloud, collaborative/independent coding, and classroom
    observation) and quantitative techniques (surveys, statistical modeling,
    natural language processing, and deep learning) to generate research
    findings and present those findings with clear and creative graphical
    representations. I have worked with stakeholders in local education systems,
    including teachers, instructional coaches, school and district
    administrators, and philanthropic foundations.
  </p>
</HomeLayout>
