---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Hsiaolin Hsieh :: Research";
const description = "Research Activities of Hsiaolin Hsieh.";
---

<BaseLayout title={title} description={description}>
  <article>
    <h1>Research</h1>

    <h2>Publications in Peer-Reviewed Journals</h2>
    <ol>
      <li>
        Levine, S., <strong>Hsieh, H.</strong>, Southerton, E., & Silverman, R.
        (2023). <a
          href="https://www.sciencedirect.com/science/article/pii/S8755461523000269"
          >“How High School Students Used Speech-to-Text as a Composition Tool.”</a
        >
        <em>Computers and Composition</em>, 68, 102775.
      </li>
      <li>
        Silverman, R., Keane, K., <strong>Hsieh, H.</strong>, Southerton, E.,
        Scott, R., & Brunskill, E. (2023). <a
          href="https://www.tandfonline.com/doi/full/10.1080/00220671.2023.2251432"
          >“Texting and tutoring: Short-term K-3 reading interventions during
          the pandemic.”</a
        >
        <em>The Journal of Educational Research</em>, 1-14.
      </li>
      <li>
        <strong>Hsieh, H.</strong>, Wiles, S., & Solano-Flores, G. (2022). <a
          href="https://www.tandfonline.com/doi/abs/10.1080/19313152.2022.2118193?journalCode=hmrj20"
          >“How different are English learners from their native
          English-speaking peers? Evidence of equivalent lexical competence in
          classroom conversations.”</a
        >
        <em>International Multilingual Research Journal</em>, 17(2), 87-106.
      </li>
      <li>
        Biernacki, P. J., Altavilla, J., Kanopka, K., <strong>Hsieh, H.</strong
        >, & Solano-Flores, G. (2022). <a
          href="https://www.tandfonline.com/doi/full/10.1080/19313152.2022.2137910"
          >“Long-term English learners’ mathematics course trajectories:
          downstream consequences of early remediation on college preparation.”</a
        >
        <em>International Multilingual Research Journal</em>, 17(2), 122-138.
      </li>
      <li>
        Rutherford-Quach, S., Kuo, A., & <strong>Hsieh, H.</strong> (2018).
        <a href="https://eric.ed.gov/?id=EJ1192845"
          >“Understanding their language: Online professional development for
          teachers of ELLs.”</a
        >
        <em>American Educator</em>, 42(3), 27.
      </li>
    </ol>

    <h2>Research Activities</h2>
    <ol>
      <li>
        <a href="https://www.clavescurriculum.net/">
          “Evaluating the Efficacy of the CLAVES Intervention: An Intervention
          Focused on Comprehension, Academic Language, and Vocabulary for
          English Learner Students.”
        </a> PIs: Rebecca Silverman, Patrick Proctor, and Jeffrey Harring.
        Sponsored by the Institute of Education Sciences (IES), 2021-
      </li>
      <li>
        <a
          href="https://acceleratelearning.stanford.edu/story/research-practice-partnership-grants/"
        >
          “Disentangling the Complexities of Developing English, Learning
          English Language Arts, and Learning in English when English is a
          Second Language: A Study of Instructional Strategies Intended to
          Support English Learners’ English Proficiency, English Literacy.”
        </a> PI: Guillermo Solano-Flores. Sponsored by the Stanford-Sequoia K-12
        Research Collaborative, 2023-
      </li>
      <li>
        “Examining Diagnostic Practices and Disseminating Knowledge on
        Course-Taking Paths in Support of English Learners.” PI: Guillermo
        Solano-Flores. Sponsored by the Stanford-Sequoia K-12 Research
        Collaborative, 2022-2023
      </li>
      <li>
        <a
          href="https://haas.stanford.edu/student-programs/education-partnerships/ravenswood-reads"
          >“Ravenswood Reads.”</a
        > PIs: Rebecca Silverman, Emma Brunskill, and Renee Scott. Partnered
        with Stanford’s Haas Center for Public Service with the Graduate School
        of Education and the Ravenswood City School District, 2022-
      </li>
      <li>
        “Trans-Semiosis and Fairness in the Design of Testing
        Accommodations/Accessibility Resources for Students with Special Needs.”
        PIs: Guillermo Solano-Flores and Ramon Martinez. Sponsored by Stanford
        Transforming Learning Accelerator, 2021-2022
      </li>
      <li>
        “The Tri-District Partnership: Supporting Policy and Practice for
        Long-Term English Learner Instruction & Assessment.” PIs: Guillermo
        Solano-Flores and Ramon Martinez. Sponsored by the Stanford-Sequoia K-12
        Research Collaborative, 2019-2022
      </li>
      <li>
        “Semiotic Analysis of Test Items (SATI).” PI: Guillermo Solano-Flores.
        Collaborated with the Center for Interdisciplinary Digital Research
        (CIDR) at Stanford Libraries, 2020-2021
      </li>
      <li>
        “Exploring Writing and Technology Across Grade Levels.” PIs: Sarah
        Levine and Rebecca Silverman. Sponsored by Technology for Equity in
        Learning Opportunities (TELOS) at Stanford University, 2019-2020
      </li>
      <li>
        “Probing with <em
          ><a href="https://logosearch.stanford.edu/">LogoSearch</a></em
        >: Research on Equity and Fairness in Linguistically Diverse
        Classrooms.” PI: Hsiaolin Hsieh. Sponsored by Technology for Equity in
        Learning Opportunities (TELOS) at Stanford University, 2018-2019
      </li>
      <li>
        “Development of a Searchable Repository of Language-Based Interactions:
        A Tool for Research on Equity and Fairness in Linguistically Diverse
        Classrooms.” PI: Guillermo Solano-Flores, Sponsored by Technology for
        Equity in Learning Opportunities (TELOS) at Stanford University,
        2016-2017
      </li>
    </ol>
  </article>
</BaseLayout>

<style>
  ol {
    padding: 0;
    margin: 2rem;
  }

  li {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 2rem;
    text-indent: -2rem;
  }

  a {
    border-bottom: 2px solid var(--primary-color);
    margin: 0 1ch 0 0.5ch;
    padding-bottom: 2px;
    text-decoration: none;
  }

  em a {
    margin: 0;
  }

  a:hover {
    border-bottom-width: 1px;
  }
</style>
