---
import Picture from "@components/Picture.astro";
import hearMyNameImg from "@img/hear_my_name.png";
---

<a id="hear-my-name" href="/hsiaolin_hsieh.mp3" class="saturate-on-hover">
  <Picture
    src={hearMyNameImg}
    alt="Hear My Name"
    widths={[136, 272]}
    sizes="136px"
    loading="eager"
    width={136}
    height={40}
  />
</a>

<script>
  const hearMyNameLink = document.getElementById(
    "hear-my-name",
  ) as HTMLLinkElement;
  hearMyNameLink.addEventListener("click", (event) => {
    event.preventDefault();
    const audio = new Audio(hearMyNameLink.href);
    audio.play();
  });
</script>
