---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      main {
        box-sizing: border-box;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin: 0 auto;
        max-width: var(--container-width-fallback);
        max-width: var(--container-width);
        padding: 0em 2em;
        position: relative;
        width: 100%;
      }
    </style>
    <script
      async
      defer
      data-website-id="93034dfa-fe65-490d-b3da-a67897302d7e"
      data-domains="hsiaolin.net,www.hsiaolin.net"
      src="https://webstats.yaffle.xyz/script.js"
    ></script>
  </body>
</html>
